/*
*= require social-likes/dist/social-likes_birman
*= require highlight.js/styles/default
*= require_self
*/

// $body-bg: #ddd;
@import "bootstrap/scss/bootstrap-flex";

.footer {
  border-top: 1px solid #eee;
  font-size: 85%;
  background-color: #f7f7f7;
}

.footer a {
  color: #55595c;
}

.card.map-pending-stack-card {
  filter: gray; /* IE6-9 */
  filter: grayscale(0.9);
  opacity: 0.75;
}
